.Amazon-link{
  color:rgb(0,113,133);
  transition: color 0.15s;
}
.Amazon-link:hover{
  color:rgb(199,81,31);
}
.title{
  font-size:24px;
  font-weight:bold;
}
.price{
  color:rgb(0,136,0);
  font-weight:bold;
}
.cart-button{
  background-color:rgb(255,216,20);
  color:black;
  height:30px;
  width:110px;
  border:none;
  cursor:pointer;
  border-radius:15px;
  margin-right:8px;
  transition: background-color 0.15s;
}
.cart-button:hover{
  background-color:rgb(247,202,0);
}
.cart-button:active{
  opacity:0.5;
}
.buy-button{
  background-color:rgb(255,164,28);
  color:black;
  height:30px;
  width:110px;
  border:none;
  cursor:pointer;
  border-radius:15px;
  transition: background-color 0.15s,opacity 0.15s;
}
.buy-button:hover{
 background-color:rgb(250,137,0);
}
.buy-button:active{
opacity:0.5;
}
