.uber-button{
  background-color:black;
  color:white;
  padding-top:12px;
  padding-bottom:12px;
  padding-left:15px;
  padding-right:15px;
  cursor:pointer;
  border:none;
  transition:opacity 0.15s;
}
.uber-button:hover{
  opacity:0.8;
}
.Amazon-button{
  background-color:rgb(255,216,20);
  color:black;
  cursor:pointer;
  padding-top:7px;
  padding-left:35px;
  padding-bottom:7px;
  padding-right:35px;
  border:none;
  border-radius:15px;
  transition : background-color 0.15s;
}
.Amazon-button:hover{
  background-color:rgb(245,216,20);
}
.Github-button{
  background-color:rgb(46,164,79);
  color:white;
  cursor:pointer;
  padding-top:12px;
  padding-bottom:12px;
  padding-right:17px;
  padding-left:17px;
  border:none;
  border-radius:6px;
  font-weight:bold;
  font-size:15px;
  margin-top:5px;
  transition: box-shadow 0.15s;
}
.Github-button:hover{
  box-shadow: 0px 5px 8px rgba(0,0,0,0.15);
}
.Get-started-button{
  background-color:rgb(121,82,179);
  color:white;
  border:none;
  padding-top:12px;
  padding-bottom:12px;
  padding-left:20px;
  padding-right:20px;
  font-weight:bold;
  cursor:pointer;
  border-radius:4px;
  margin-right:6px;
  transition : background-color 0.15s;
}
.Get-started-button:hover{
  background-color:rgb(99,60,156);
}

.Download-button{
  background-color:white;
  color:rgb(108,117,125);
  cursor:pointer;
  font-weight:bold;
 padding-top:12px;
 padding-bottom:12px;
 padding-right:17px;
 padding-left:17px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(108,117,125);
  border-radius:4px;
  border-style:solid;
   margin-top:5px;
   transition: background-color 0.15s,color 0.15s;
}
.Download-button:hover{
  background-color: rgb(108,117,125);
  color:white;
}
.Apply-button{
  background-color:rgb(10,102,194);
  color:white;
  cursor:pointer;
  font-weight:bold;
  padding-top: 12px;
  padding-bottom:12px;
  padding-left:24px;
  padding-right:24px;
  border:none;
  border-radius:20px;
  font-size:15px;
  margin-top:5px;
  margin-right:8px;
  transition:opacity 0.15s ease,background-color 0.15s ease;
}
.Apply-button:hover{
  background-color:rgb(2,70,138);
  
}
.Apply-button:active{
  opacity:0.5;
}
.Save-button{
  background-color:white;
  color:rgb(10,102,194);
  cursor:pointer;
  margin-top:5px;
  height:40px;
  width:80px;
  border-radius:20px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(10,102,194);
  font-weight:bold;
  font-size:15px;
  transition: background-color 0.15s,border-width 0.15s;
}
.Save-button:hover{
  background-color: rgb(226,240,254);
  border-width:2px;
}
